<div>
  <header>
    <h1>Reactive Forms</h1>
  </header>

  <form [formGroup]="formGroup">
    <div class="question-container">
      <div class="question-number">1)</div>
      <div class="question">What is your Name</div>
      <div class="question-number">
        <input type="text" name="answer" label="question-answer" title="answer" formControlName="personName"
          (change)="updateForm()">
      </div>
    </div>

    <div class="question-container">
      <div class="question-number">2)</div>
      <div class="question">Are you a Student or Adult</div>
      <div class="question-number age">
        <select formControlName="personIsAdult" title="adult-status">
          <option value="" selected></option>
          <option value="adult">Adult</option>
          <option value="student">Student</option>
        </select>
      </div>
    </div>

    <div class="question-container" *ngIf="isAdult === 'adult'">
      <div class="question-number">3)</div>
      <div class="question">Enter Your Drive License Number:</div>
      <div class="question-number">
        <input type="text" name="answer" label="question-answer" title="answer" formControlName="personDL"
          (change)="updateForm()">
      </div>
    </div>

    <div class="question-container" *ngIf="isAdult !== 'adult'">
      <div class="question-number">3)</div>
      <div class="question">Enter Your Student Id Number:</div>
      <div class="question-number">
        <input type="text" name="answer" label="question-answer" title="answer" formControlName="personStudentId"
          (change)="updateForm()">
      </div>
    </div>

    <div class="question-container">
      <button (click)="submit(formGroup)" [disabled]="!formGroup.valid">Submit</button>
    </div>
    <!--
    <pre>
      is Form Valid: {{ formGroup.valid }}
    </pre> -->
  </form>
</div>
